:root {
    --primary-orange: (hsl(25, 97%, 53%));
    --neutral-white: (hsl(0, 0%, 100%));
    --neutral-light-grey: (hsl(217, 12%, 63%));
    --neutral-medium-grey: (hsl(216, 12%, 54%));
    --neutral-dark-blue: (hsl(213, 19%, 18%));
    --neutral-very-dark-blue: (hsl(216, 12%, 8%));
}

* {
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
}

body {
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   width: 100%;
   height: 100vh;
   background-color: hsl(216, 12%, 8%);
   color: hsl(217, 12%, 63%);
}
  
  .main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .flex-item {
    background-color: hsl(213, 19%, 18%);
    padding: 20px;
    border-radius: 10px;
  }

  .star-icon {
    border-radius: 100px;
    padding: 10px;
    background-color: hsl(216, 12%, 54%);
    
  }

  .content-heading {
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    font-size: 20px;
  }

  .rating-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .rating-item {
    border-radius: 50%;
    padding: 20px;
    background-color: hsl(213, 19%, 18%);
    background-color: hsl(216, 12%, 8%);
    cursor: pointer;
  }

  .rating-item:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);

  }

  .rating-item:active {
    background-color: hsl(216, 12%, 54%);;
  }

  .submit-btn {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
  }

  .submit-btn:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
  }
  

  .modal-container {
    display: none;
  }


  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }